{########################################################}
{#                                                      #}
{#   Google+ Badge - Particle for Gantry 5              #}
{#                                                      #}
{#   Purpose: This project adds the Google              #}
{#            Plus Profile, Page or Community           #}
{#            Badge to the Gantry templating            #}
{#            framework.                                #}
{#                                                      #}
{#   Author:  Marian Tanase <marian@tanase.it>          #}
{#            Andreas Kar (thex) <andreas.kar@gmx.at>   #}
{#                                                      #}
{########################################################}

{% extends '@nucleus/partials/particle.html.twig' %}

{% set bAttrs = '' %}
{% if badge.tag.attributes %}
    {% for attr in badge.tag.attributes %}
        {% for key, value in attr %}
            {% set bAttrs = bAttrs ~ ' ' ~ key|e ~ '="' ~ value|e('html_attr') ~ '"' %}
        {% endfor %}
    {% endfor %}
{% endif %}

{% set bId = particle.badge.id|default('+LarryPage') %}
{% set bType = particle.badge.type|default('person') %}
{% set bLayout = particle.badge.layout|default('portrait') %}
{% set bTagline = particle.badge.tagline|default(true) %}
{% set bCover = particle.badge.cover|default(true) %}
{% set bTheme = particle.badge.theme|default('light') %}
{% set bWidth = particle.badge.width|default(300) %}
{% set bJsPlace = particle.js.placement|default('head') %}
{% set bJsPrior = particle.js.priority|default(0) %}
{% set bScriptType = 'text/javascript' %}
{% set bJsExec = '' %}

{% if bType == 'community' %}
    {% set bId = 'communities/' ~ bId %}
    {% set bPhotoTag = 'data-showphoto' %}
    {% set bShowOwner = ' data-showowners="' ~ _self.intToBool(particle.badge.owner|default(false)) ~ '"' %}
{% else %}
    {% set bPhotoTag = 'data-showcoverphoto' %}
    {% set bShowOwner = '' %}
{% endif %}

{% if particle.js.option == 'local' and particle.js.path is not empty %}
    {% set bJsPath = 'gantry-theme://' ~ particle.js.path %}
{% elseif particle.js.option == 'remote' and particle.js.path is not empty %}
    {% set bJsPath = particle.js.path %}
{% else %}
    {% set bJsPath = 'https://apis.google.com/js/platform.js' %}
{% endif %}

{% if particle.js.execution == 'defer' or particle.js.execution == 'both' %}
    {% set bJsExec = 'defer="defer"' %}
{% endif %}

{% if particle.js.execution == 'both' %}
    {% set bJsExec = bJsExec ~ ' ' %}
{% endif %}

{% if particle.js.execution == 'async' or particle.js.execution == 'both' %}
    {% set bJsExec = bJsExec ~ 'async="async"' %}
{% endif %}

{% if bJsExec is not empty %}
    {% set bJsExec = ' ' ~ bJsExec %}
{% endif %}

{%- block particle -%}
<div class="g-google-plus-badge{% if particle.badge.css.class %} {{ particle.badge.css.class|e }}{% endif %}"{{ bAttrs|raw }}>
    <div class="g-grid">
        <div class="g-block">
            <div class="g-google-plus-badge-inner">
                <div class="g-{{bType}}" data-href="https://plus.google.com/{{bId|raw}}" data-width="{{bWidth}}" data-layout="{{bLayout}}" data-showtagline="{{_self.intToBool(bTagline)}}"{{bShowOwner|raw}} {{bPhotoTag}}="{{_self.intToBool(bCover)}}" data-theme="{{bTheme}}" data-rel="author"></div>
            </div>
        </div>
    </div>
</div>
{%- scripts in bJsPlace with { priority: bJsPrior } -%}
    <script>
        window.___gcfg = {lang: '{{particle.badge.lang|default('en-US')}}', parsetags: '{{particle.js.loading|default('onload')}}'};
    </script>
    <script type="{{bScriptType}}" src="{{bJsPath}}"{{bJsExec}}></script>
{%- endscripts -%}
{%- endblock -%}
{% macro intToBool(bVal) %}{{bVal ? 'true' : 'false'}}{% endmacro %}