{#######################################################}
{#                                                     #}
{#   Google+ Badge - Particle for Gantry               #}
{#                                                     #}
{#   Purpose: This project adds the Google             #}
{#            Plus Profile, Page or Community          #}
{#            Badge to the Gantry templating           #}
{#            framework.                               #}
{#                                                     #}
{#   Author:  Marian Tanase <marian@tanase.it>         #}
{#            Andreas Kar (thex) <andreas.kar@gmx.at>  #}
{#   Repository: https://git.io/fA9Xs                  #}
{#   Homepage: https://gantryprojects.com              #}
{#                                                     #}
{#######################################################}

{% extends '@nucleus/partials/particle.html.twig' %}

{% set cAttrs = '' %}
{% if particle.badge.tag.attributes %}
    {% for attr in particle.badge.tag.attributes %}
        {% for key, value in attr %}
            {% set cAttrs = cAttrs ~ ' ' ~ key|e ~ '="' ~ value|e('html_attr') ~ '"' %}
        {% endfor %}
    {% endfor %}
{% endif %}

{% if particle.badge.css.class %}
    {% set cClass = ' ' ~ particle.badge.css.class %}
{% else %}
    {% set cClass = '' %}
{% endif %}

{% set bId = particle.badge.id|default('+LarryPage') %}
{% set bType = particle.badge.type|default('person') %}
{% set bLayout = particle.badge.layout|default('portrait') %}
{% set bTagline = particle.badge.tagline|default(true) %}
{% set bCover = particle.badge.cover|default(true) %}
{% set bTheme = particle.badge.theme|default('light') %}
{% set bWidth = particle.badge.width|default(300) %}

{% if bType == 'community' %}
    {% set bId = 'communities/' ~ bId %}
    {% set bPhotoTag = 'data-showphoto' %}
    {% set bShowOwner = ' data-showowners="' ~ _self.intToBool(particle.badge.owner|default(false)) ~ '"' %}
{% else %}
    {% set bPhotoTag = 'data-showcoverphoto' %}
    {% set bShowOwner = '' %}
{% endif %}

{% set bHref = 'https://plus.google.com/' ~ bId|raw %}
{% set bScriptType = 'text/javascript' %}

{% set bJsPlace = particle.js.placement|default('head') %}
{% set bJsExec = particle.js.execution|default("both") %}
{% set bJsExecAttr = _self.getJSExecution(bJsExec) %}
{% set bJsPrior = particle.js.priority|default(0) %}

{% set cdnRepo = 'https://apis.google.com/js' %}
{% set bJsPath = _self.getResourceFilePath(particle.js, cdnRepo, 'platform', 'js') %}

{%- block particle -%}
    <div class="g-google-plus-badge{{cClass|e}}"{{cAttrs|raw}}>
        <div class="g-{{bType}}" data-href="{{url(bHref)}}" data-width="{{bWidth}}" data-layout="{{bLayout}}" data-showtagline="{{_self.intToBool(bTagline)}}"{{bShowOwner|raw}} {{bPhotoTag}}="{{_self.intToBool(bCover)}}" data-theme="{{bTheme}}" data-rel="author"></div>
    </div>
    {%- scripts in bJsPlace with { priority: bJsPrior } -%}
        <script>
            window.___gcfg = {lang: '{{particle.badge.lang|default('en-US')}}', parsetags: '{{particle.js.loading|default('onload')}}'};
        </script>
        <script type="{{bScriptType}}" src="{{url(bJsPath)}}"{{bJsExecAttr}}></script>
    {%- endscripts -%}
{%- endblock -%}
{%- macro intToBool(bVal) -%}{{bVal ? 'true' : 'false'}}{%- endmacro -%}
{%- macro getResourceFilePath(element, cdnUrl, cdnFile, type) -%}
    {%- set elPath = element.path|default(cdnFile ~ "." ~ type) -%}
    {%- set elOpt = element.option|default("disabled") -%}
    {%- set path = empty -%}
    {%- if elOpt == 'local' or elOpt == 'global' -%}
        {%- set hPath = elPath -%}
        {%- if hPath is not empty and hPath|slice(0, 1)|lower == '/' -%}
            {%- set hPath = hPath|slice(1, (hPath|length - 1)) -%}
        {%- endif -%}
        {%- set hPath = type ~ '/' ~ hPath -%}
        {%- if elOpt == 'local' -%}
            {%- set path = 'gantry-theme://' ~ hPath -%}
        {%- else -%}
            {%- set path = 'media/gantry5/engines/nucleus/' ~ hPath -%}
        {%- endif -%}
    {%- elseif elOpt == 'custom' -%}
        {%- set path = elPath -%}
    {%- endif -%}
    {%- if path is empty -%}
        {%- set path = cdnUrl ~ '/' ~ cdnFile ~ "." ~ type -%}
    {%- endif -%}
    {{- path|raw -}}
{%- endmacro -%}

{%- macro getJSExecution(type) -%}
    {%- set attribute = '' -%}
    {%- if type == 'defer' or type == 'both' -%}
        {%- set attribute = 'defer="defer"' -%}
    {%- endif -%}
    {%- if type == 'both' -%}
        {%- set attribute = attribute ~ ' ' -%}
    {%- endif -%}
    {%- if type == 'async' or type == 'both' -%}
        {%- set attribute = attribute ~ 'async="async"' -%}
    {%- endif -%}
    {%- if type is not empty -%}
        {%- set attribute = ' ' ~ attribute -%}
    {%- endif -%}
    {{- attribute|raw -}}
{%- endmacro -%}